body, html {
    background-image: url("/img/friend-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
}

.playlist-button {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    border: none;
    width: 200px;
    height: 50px;
}

hr {
    border: none;
    height: 1px;
    color: hsl(0, 0%, 100%);
    background-color: #ffffff;
}

.playlist-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: auto;
    padding: 2rem;
    padding-left: -5rem;
    padding-right: -5rem;
    margin: auto;
    width: 70vw;
    margin-top: 10vh;
    padding-bottom: 30vh;
    gap: 1rem;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(62, 30, 30, 0.7));
    font-weight: 200px;
}

.d-flex {
    width: 100%;
    justify-content: center;
}

h2 {
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 1rem;
    text-align: center;
}

#playlistsGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.modal-dialog {
    margin: auto;
}

.btn {
    display: inline-block;
    margin: 0 auto;
}
