body {
    background: linear-gradient(to bottom right, #6a11cb, #2575fc); /* Gradient background */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;


}
button{
    background: linear-gradient(to right, #6a11cb, #2575fc);
    height: 50px;
    border-radius: 4px;
}
.register-container {
    background: rgba(255, 255, 255, 0.812);  /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Blur effect */
    border-radius: 15px;
    padding: 2rem;
    color: rgb(0, 0, 0); /* White text for readability */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    width:30vw; /* Set max width for the form */
    text-align: center;
}

.register-container h4 {
    font-size: 1.5rem;

}

.register-form {
    display: flex;
    flex-direction: column;
}
.form-label{
    font-size: 18px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.9); /* Black with 0.9 opacity */
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Optional: Add shadow for depth */
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: white;
    transition: color 0.3s ease-in-out;
}

.navbar .navbar-brand:hover,
.navbar .nav-link:hover {
    color: #f8f9fa; /* Light gray for hover */
}

.navbar .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    border: none; /* Remove border */
}

.navbar .dropdown-menu .dropdown-item {
    color: white;
}

.navbar .dropdown-menu .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Subtle hover effect */
    color: white;
}
