.main-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #6a11cb, #2575fc);
  font-family: "Arial", sans-serif;
}
button {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  height: 50px;
  border-radius: 4px;
  font-size: 30px;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 2rem;
}

.login-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 900px;
  background: rgba(255, 255, 255, 0.812);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.login-info {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  color: white;
  text-align: center;
  background-image: url("/img/login-card.jpeg");
}

.login-info h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.login-info p {
  font-size: 1rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.login-info img {
  width: 100%;
  max-width: 250px;
  border-radius: 10px;
}

.login-form-container {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  height: 50vh;
}

.form-control {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0.75rem;
}

.form-control:focus {
  border-color: #6a11cb;
  box-shadow: 0 0 5px rgba(106, 17, 203, 0.5);
}

button {
  background-color: #6a11cb;
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #4a0f98;
}

.text-center {
  text-align: center;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.9); /* Black with 0.9 opacity */
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Optional: Add shadow for depth */
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: white;
  transition: color 0.3s ease-in-out;
}

.navbar .navbar-brand:hover,
.navbar .nav-link:hover {
  color: #f8f9fa;
}

.navbar .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  border: none;
}

.navbar .dropdown-menu .dropdown-item {
  color: white;
}

.navbar .dropdown-menu .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}
